################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/5d9f8bf9-714c-40ca-9578-2e91d9ab5758.vsidx
*.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/716048a7-b1b3-4146-814a-fff545ffe417.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/8c03c2bd-e631-47a2-bafb-792729a4e3c2.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/8cf3adfe-5d9a-42b4-8fc6-6e3ccf707a44.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/e11993a3-9ee4-4de8-b02e-31958b5aeb8d.vsidx
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/ref/KoiFarmShop.APIService.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/refint/KoiFarmShop.APIService.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Release/net8.0
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/KoiFarmShop.APIService.csproj.nuget.dgspec.json
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/KoiFarmShop.APIService.csproj.nuget.g.props
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/project.assets.json
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/project.nuget.cache
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/DesignTimeBuild/.dtbcache.v2
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/v17/.futdcache.v2
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/v17/.suo
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/v17/DocumentLayout.json
/Sourcecode/Back-end/.vs/ProjectEvaluation/fa24_se1854_swp391_g3_koifarmshop.metadata.v7.bin
/Sourcecode/Back-end/.vs/ProjectEvaluation/fa24_se1854_swp391_g3_koifarmshop.projects.v7.bin
