################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/5d9f8bf9-714c-40ca-9578-2e91d9ab5758.vsidx
*.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/716048a7-b1b3-4146-814a-fff545ffe417.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/8c03c2bd-e631-47a2-bafb-792729a4e3c2.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/8cf3adfe-5d9a-42b4-8fc6-6e3ccf707a44.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/e11993a3-9ee4-4de8-b02e-31958b5aeb8d.vsidx
