################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/5d9f8bf9-714c-40ca-9578-2e91d9ab5758.vsidx
*.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/716048a7-b1b3-4146-814a-fff545ffe417.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/8c03c2bd-e631-47a2-bafb-792729a4e3c2.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/8cf3adfe-5d9a-42b4-8fc6-6e3ccf707a44.vsidx
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/FileContentIndex/e11993a3-9ee4-4de8-b02e-31958b5aeb8d.vsidx
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/ref/KoiFarmShop.APIService.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/refint/KoiFarmShop.APIService.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Release/net8.0
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/KoiFarmShop.APIService.csproj.nuget.dgspec.json
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/KoiFarmShop.APIService.csproj.nuget.g.props
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/project.assets.json
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/project.nuget.cache
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/DesignTimeBuild/.dtbcache.v2
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/v17/.futdcache.v2
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/v17/.suo
/Sourcecode/Back-end/.vs/FA24_SE1854_SWP391_G3_KoiFarmShop/v17/DocumentLayout.json
/Sourcecode/Back-end/.vs/ProjectEvaluation/fa24_se1854_swp391_g3_koifarmshop.metadata.v7.bin
/Sourcecode/Back-end/.vs/ProjectEvaluation/fa24_se1854_swp391_g3_koifarmshop.projects.v7.bin
/Sourcecode/Back-end/.vs/ProjectEvaluation/fa24_se1854_swp391_g3_koifarmshop.metadata.v8.bin
/Sourcecode/Back-end/.vs/ProjectEvaluation/fa24_se1854_swp391_g3_koifarmshop.projects.v8.bin
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.APIService.deps.json
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.APIService.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.APIService.exe
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.APIService.pdb
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.Data.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.Data.pdb
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/Controllers/WeatherForecastController.cs
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/apphost.exe
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.AssemblyInfo.cs
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.AssemblyInfoInputs.cache
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.assets.cache
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.csproj.AssemblyReference.cache
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.csproj.CoreCompileInputs.cache
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.csproj.FileListAbsolute.txt
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.pdb
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.sourcelink.json
/Sourcecode/Back-end/KoiFarmShop.Business/bin/Debug/net8.0/KoiFarmShop.Business.deps.json
/Sourcecode/Back-end/KoiFarmShop.Business/bin/Debug/net8.0/KoiFarmShop.Business.dll
/Sourcecode/Back-end/KoiFarmShop.Business/bin/Debug/net8.0/KoiFarmShop.Business.pdb
/Sourcecode/Back-end/KoiFarmShop.Business/bin/Debug/net8.0/KoiFarmShop.Data.dll
/Sourcecode/Back-end/KoiFarmShop.Business/bin/Debug/net8.0/KoiFarmShop.Data.pdb
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmS.3AF3077E.Up2Date
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.AssemblyInfo.cs
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.AssemblyInfoInputs.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.assets.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.csproj.AssemblyReference.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.csproj.CoreCompileInputs.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.csproj.FileListAbsolute.txt
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.dll
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.pdb
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.sourcelink.json
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/ref/KoiFarmShop.Business.dll
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/refint/KoiFarmShop.Business.dll
/Sourcecode/Back-end/KoiFarmShop.Business/obj/KoiFarmShop.Business.csproj.nuget.dgspec.json
/Sourcecode/Back-end/KoiFarmShop.Business/obj/project.assets.json
/Sourcecode/Back-end/KoiFarmShop.Business/obj/project.nuget.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Release/net8.0/KoiFarmShop.Business.AssemblyInfo.cs
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Release/net8.0/KoiFarmShop.Business.AssemblyInfoInputs.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Release/net8.0/KoiFarmShop.Business.assets.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Release/net8.0/KoiFarmShop.Business.csproj.AssemblyReference.cache
/Sourcecode/Back-end/KoiFarmShop.Data/bin/Debug/net8.0/KoiFarmShop.Data.deps.json
/Sourcecode/Back-end/KoiFarmShop.Data/bin/Debug/net8.0/KoiFarmShop.Data.dll
/Sourcecode/Back-end/KoiFarmShop.Data/bin/Debug/net8.0/KoiFarmShop.Data.pdb
/Sourcecode/Back-end/KoiFarmShop.Data/bin/Debug/net8.0/KoiFarmShop.Data.runtimeconfig.json
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.AssemblyInfo.cs
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.AssemblyInfoInputs.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.assets.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.csproj.AssemblyReference.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.csproj.CoreCompileInputs.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.csproj.FileListAbsolute.txt
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.dll
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.pdb
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.sourcelink.json
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/ref/KoiFarmShop.Data.dll
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/refint/KoiFarmShop.Data.dll
/Sourcecode/Back-end/KoiFarmShop.Data/obj/KoiFarmShop.Data.csproj.EntityFrameworkCore.targets
/Sourcecode/Back-end/KoiFarmShop.Data/obj/KoiFarmShop.Data.csproj.nuget.dgspec.json
/Sourcecode/Back-end/KoiFarmShop.Data/obj/project.assets.json
/Sourcecode/Back-end/KoiFarmShop.Data/obj/project.nuget.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Release/net8.0/KoiFarmShop.Data.AssemblyInfo.cs
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Release/net8.0/KoiFarmShop.Data.AssemblyInfoInputs.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Release/net8.0/KoiFarmShop.Data.assets.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Release/net8.0/KoiFarmShop.Data.csproj.AssemblyReference.cache
/Sourcecode/Back-end/KoiFarmShop.Data/Models/UserRole.cs
/Sourcecode/Back-end/KoiFarmShop.Data/Models/Role.cs
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.Business.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/KoiFarmShop.Business.pdb
/Sourcecode/Back-end/KoiFarmShop.APIService/KoiFarmShop.APIService.csproj
/Sourcecode/Back-end/KoiFarmShop.APIService/WeatherForecast.cs
/Sourcecode/Back-end/KoiFarmShop.Business/KoiFarmShop.Business.csproj
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.csproj.BuildWithSkipAnalyzers
/Sourcecode/Back-end/KoiFarmShop.Data/efpt.config.json
/Sourcecode/Back-end/KoiFarmShop.Data/ViewModels/ResultModel/ResultModel.cs
/Sourcecode/Back-end/KoiFarmShop.APIService/bin/Debug/net8.0/AutoMapper.dll
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.GeneratedMSBuildEditorConfig.editorconfig
/Sourcecode/Back-end/KoiFarmShop.APIService/obj/Debug/net8.0/KoiFarmShop.APIService.genruntimeconfig.cache
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Debug/net8.0/KoiFarmShop.Business.GeneratedMSBuildEditorConfig.editorconfig
/Sourcecode/Back-end/KoiFarmShop.Business/obj/Release/net8.0/KoiFarmShop.Business.GeneratedMSBuildEditorConfig.editorconfig
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.GeneratedMSBuildEditorConfig.editorconfig
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Debug/net8.0/KoiFarmShop.Data.genruntimeconfig.cache
/Sourcecode/Back-end/KoiFarmShop.Data/obj/Release/net8.0/KoiFarmShop.Data.GeneratedMSBuildEditorConfig.editorconfig
