/* KoiDetail.css */
.koi-detail-container {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
}

.koi-detail-image {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 8px;
}

.koi-detail-info {
    max-width: 500px;
}